<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul>
			<% messages.forEach(message => { %>
			<li>
				<h3><%= message.user %></h3>
				<div><%= message.text %></div>
				<span style="font-size: xx-small"><%= message.added %></span>
			</li>
			<% }); %>
		</ul>
	</body>
</html>
